<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h4>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :description, "About You" %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :mmr, "MMR" %><br>
    <%= f.number_field :mmr, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :steam %><br>
    <%= f.text_field :steam, class: "form-control", placeholder: "Optional" %>
  </div>
  <div class="form-group">
    <%= f.label :dotabuff %><br>
    <%= f.text_field :dotabuff, class: "form-control", placeholder: "Optional" %>
  </div>
  <hr>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :language_id, "Primary Language" %><br>
      <%= f.collection_select(:language_id, Language.all, :id, :language, :selected => "4") %>
    </div>  

      <div class="form-group">
      <%= f.label :hero_id, "Favorite Hero" %><br>
      <%= f.collection_select(:hero_id, Hero.all, :id, :name ) %>
    </div>  

    <div class="form-group">
    <%= f.label "Timezone" %><br>
    <%= f.time_zone_select :time_zone %>
    </div>

    <div class="form-group">
      <%= f.label :image %><br>
      <%= f.file_field :image %> 
    </div>
  </div>
  


 <div class="col-md-6">
  <label> Roles you can play </label>
    <div class="row">
      <div class="radio-inline">
        <%= f.label :carry %><br>
        <%= f.check_box :carry %>
      </div>
      <div class="radio-inline">
        <%= f.label :mid %><br>
        <%= f.check_box :mid %>
      </div>
      <div class="radio-inline">
        <%= f.label :support %><br>
        <%= f.check_box :support %>
      </div>
      <div class="radio-inline">
        <%= f.label :offlane %><br>
        <%= f.check_box :offlane %>
      </div>
      <div class="radio-inline">
        <%= f.label :jungle %><br>
        <%= f.check_box :jungle %>
      </div>
    </div>


    <br>

  <label> Positions you can play </label>
    <div class="row">
      <div class="radio-inline">
        <%= f.label :positionone, "Position 1" %><br>
        <%= f.check_box :positionone %>
      </div>
      <div class="radio-inline">
        <%= f.label :positiontwo, "Position 2" %><br>
        <%= f.check_box :positiontwo %>
      </div>
      <div class="radio-inline">
        <%= f.label :positionthree, "Position 3" %><br>
        <%= f.check_box :positionthree %>
      </div>
      <div class="radio-inline">
        <%= f.label :positionfour, "Position 4" %><br>
        <%= f.check_box :positionfour %>
      </div>
      <div class="radio-inline">
        <%= f.label :positionfive, "Position 5" %><br>
        <%= f.check_box :positionfive %>
      </div>
    </div>
<br>
  <label>  Compete Level </label>
    <div class="row">
      <div class="radio-inline">
        <%= f.label :compete, "Competitive" %><br>
        <%= f.check_box :compete %>
      </div>
      <div class="radio-inline">
        <%= f.label :casual, "Casual" %><br>
        <%= f.check_box :casual %>
      </div>
    </div>
</div>

<div class="col-md-12">
<br><br>
  <div class="center">
    <div class="actions">
      <%= f.submit class: "btn btn-primary" %><br><br>

      <p style="size:small"> By clicking create profile you are agreeing to abide by our terms of services </p>
    </div>
  </div>
</div>

<% end %>
