<div class="center">
  <div class="row">
    <% @profiles.each do |profile| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= image_tag profile.image.url %>
        <div class="caption">

          <%= link_to 'Show', profile, class: "btn btn-link" %>
          <%= link_to 'Edit', edit_profile_path(profile), class: "btn btn-link" %>
          <%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
        </div>
      </div>
    </div>
    <% end %>
   </div> 
</div>

<%= link_to 'New Profile', new_profile_path %>
