<div class="container">
    <div class="col-md-6">
      <div class="thumbnail" style="background-color: #313131; border-color: #313131">
        <%= image_tag @profile.image_url %>
      </div>

          <div class="col-md-3">
              <%= link_to 'Send message', new_message_path(@profile.id) , class: 'btn btn-default btn-sm' %>
      </div>     

    </div>


    <div class="col-md-6">
      <div class="col-md-12">
        <h3 class="center"> <%= "#{@profile.user.username}'s" %> Profile </h3>
        <hr>
    </div>
      <hr>

      <div class="col-md-6">
      
      <% if @profile.steam.present? %> 
        <h4> Steam ID: </h4> 
        <p style="font-size: medium"> <a href="<%= @profile.steam %>" > Link </a> </p>
      <% end %>

      <h4> MMR: </h4>
      <p style="font-size: medium"> <%= @profile.mmr %> </p>

    </div>



     <div class="col-md-6">

      <% if @profile.dotabuff.present? %>
        <h4> Dotabuff: </h4> 
        <p style="font-size: medium"><a href="<%= @profile.dotabuff %>" > Link </a> </p>
      <% end %>

      <h4> Primary Language: </h4>
      <p style="font-size: medium">  <%= @profile.language.language %> </p>

      <h4> Time Zone: </h4>
      <p style="font-size: medium"> <%= @profile.time_zone %> </p>

      <% if @profile.hero.present? %>
      <h4> Favorite Hero: </h4> <p style="font-size: medium"> <%= @profile.hero.name %> </p>
      <% end %>
  </div>


  <div class="col-md-12">
    <hr>
      <p> About Me </p>
      <p style="font-size: medium"> <%= @profile.description %> </p>
      <hr>
  </div>

  <%= render 'roles' %>

  <%= render 'positions' %>

    </div>
  </div>
</div>

<br>
<% if current_user == @profile.user %>
  <%= link_to 'Edit', edit_profile_path(@profile) %> |
<% end %>
<%= link_to 'Back', profiles_path %>

